.about {
    background: $white;
}

.about__body {
    margin-top: rem(24);
    text-align: center;
    @include mq('md') {
        margin-top: rem(29);
    }
}

.about__text1,
.about__text2 {
    line-height: rem(25.6);
    @include mq('md') {
        font-size: rem(18);
        line-height: rem(32.4);
    }
}

.about__text2 {
    margin-top: rem(32);
}

.about__btn {
    margin-top: rem(24);
    @include mq('md') {
        margin-top: rem(40);
    }
}