.flow {
    background: #F9F9F9;
}

.flow__items {
    display: flex;
    flex-wrap: wrap;
    @include mq('lg') {
        padding: 0 rem(70);
    }
}

.flow__item {
    margin-top: rem(58);
    width: 100%;
    &:not(:last-child) {
        margin-bottom: rem(30);
    }
    @include mq('lg') {
        margin-top: rem(55);
        &:not(:last-child) {
            margin-bottom: 0;
        }
        width: calc((100% - #{rem(121)} * 2) / 3);
        // position: relative;
        &:not(:last-child) {
            margin-right: rem(121);
            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: rem(32) 0 rem(32) rem(29);
                border-color: transparent transparent transparent #C4C4C4;
                right: rem(-89);
                top: rem(65);
                // transform: translateY(-50%);
            }
        }
    }
}